
/*----------------------primera sección -------------*/
.banner{
    /*display: none;*/
    height: 60rem;
    width: 100%; 
    width: auto;   
    
    background-image: url(./../img/bloque_1.png);
    background-position: center;

    position: relative;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.banner .contenido_banner {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
}
.contenido_banner span, h1, p{
    color:var(--color4);
    margin-top: 1.5rem;

}
.contenido_banner span{
    font-size: 2rem;
}
.contenido_banner h1{
    font-size: 4.5rem;
    font-weight: 900;
}

.contenido_banner p{
    font-size: 1.5rem;
}

.boton{
    text-decoration: none;
    display: block;
    width: 21rem;
    height: 5rem;
    background-color: var(--color1);
    color: var(--color4);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin: auto;
    margin-top: 2rem;

    -webkit-box-shadow: 0px 7px 78px -8px rgba(252,174,179,1);
-moz-box-shadow: 0px 7px 78px -8px rgba(252,174,179,1);
    box-shadow: 0px 7px 78px -8px rgba(252,174,179,1);
    display: flex;
    justify-content: center;
    align-items: center;
}